In [17]:
import sqlite3
import pandas as pd

In [21]:
conn = sqlite3.connect('northwind.db')

In [31]:
query = """
WITH ProductSales AS (
    SELECT 
        c.CategoryName,
        p.ProductID,
        p.ProductName,
        ROUND(SUM(od.UnitPrice * od.Quantity), 2) AS TotalSales
    FROM [Order Details] od
    JOIN Products p ON od.ProductID = p.ProductID
    JOIN Categories c ON p.CategoryID = c.CategoryID
    GROUP BY c.CategoryName, p.ProductID
),
RankedProducts AS (
    SELECT 
        CategoryName,
        ProductID,
        ProductName,
        TotalSales,
        RANK() OVER (PARTITION BY CategoryName ORDER BY TotalSales DESC) AS CategoryRank
    FROM ProductSales
)
SELECT 
    CategoryName,
    ProductID,
    ProductName,
    TotalSales,
    CategoryRank
FROM RankedProducts
WHERE CategoryRank <= 3;
"""

In [32]:
df = pd.read_sql_query(query, conn)

In [33]:
print(df)

      CategoryName  ProductID                      ProductName   TotalSales  \
0        Beverages         38                    Côte de Blaye  53274482.70
1        Beverages         43                      Ipoh Coffee   9334927.20
2        Beverages          2                            Chang   3832714.20
3       Condiments         63                     Vegie-spread   8811700.40
4       Condiments          8       Northwoods Cranberry Sauce   8074640.00
5       Condiments         61                   Sirop d'érable   5841895.80
6      Confections         20           Sir Rodney's Marmalade  16654879.80
7      Confections         62                   Tarte au sucre   9955529.00
8      Confections         27               Schoggi Schokolade   8829210.10
9   Dairy Products         59             Raclette Courdavault  11221551.00
10  Dairy Products         12        Queso Manchego La Pastora   7684990.80
11  Dairy Products         69                 Gudbrandsdalsost   7232947.20
12  Grains/Cereals         56           Gnocchi di nonna Alice   7649415.20
13  Grains/Cereals         64        Wimmers gute Semmelknödel   6689800.25
14  Grains/Cereals         22              Gustaf's Knäckebröd   4204838.40
15    Meat/Poultry         29          Thüringer Rostbratwurst  24630836.96
16    Meat/Poultry          9                  Mishi Kobe Niku  19424638.00
17    Meat/Poultry         17                     Alice Mutton   7887196.20
18         Produce         51            Manjimup Dried Apples  10667691.60
19         Produce         28                Rössle Sauerkraut   9253934.40
20         Produce          7  Uncle Bob's Organic Dried Pears   6118674.00
21         Seafood         18                 Carnarvon Tigers  12607487.50
22         Seafood         10                            Ikura   6239996.20
23         Seafood         30            Nord-Ost Matjeshering   5262730.32

    CategoryRank
0              1
1              2
2              3
3              1
4              2
5              3
6              1
7              2
8              3
9              1
10             2
11             3
12             1
13             2
14             3
15             1
16             2
17             3
18             1
19             2
20             3
21             1
22             2
23             3